section{
background-color: #1a1d45 ;
height: 150vh;
color: aliceblue;
position: sticky;
}
.navColor{
    background-color: #1a1d45;
}

footer{
    background-color: #191f4e ;
    height: 10vh;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    }