section{
height: 100vh;

position: sticky;
}
.navColor{
    background-color: #1a1d45;
}

footer{
    background-color: #307d7f ;
    height: 10vh;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    }

    